# Local Terraform directories
# These directories are created by 'terraform init' and contain providers and modules.
.terraform/

# Local state files
# It's best practice to use a remote backend, but these should be ignored
# to prevent accidental commits of local state.
terraform.tfstate
terraform.tfstate.backup

# Crash log files
# These are created if Terraform crashes.
crash.log
crash.*.log

# Variable files
# Ignore all .tfvars files to prevent committing sensitive variables.
*.tfvars
*.tfvars.json

# Override files
# These are meant for local overrides and should not be versioned.
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan files
# Binary plan files can be large and may contain sensitive information.
*.tfplan